body {
    width: 1280px;
    height: 832px;
    font-family: 'Archivo Black', sans-serif;
}


.main_circle {
    position: absolute;
    width: 757px;
    height: 686px;
    background-color: #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 180px;
}


.dog img{
    position: absolute;
    width: 720px;
    height: 750px;
    margin-top: 180px;
    margin-left: 220px;
}

.main_text p {
    position: absolute;
    font-size: 100px;
    font-family: 'Archivo Black', sans-serif;
}